.center {
  margin: auto;
  width: 90%;
  padding-top: 1em;
}

.filterbtn {
  background-color: #EEE;
  margin: .5em;
}

.btn {
  background-color: #EEE;
}

.downloadbtn {
  padding-top: 1em;
}

.display {
  width: 50%;
  float: left;
  padding-top: 2em;
}

.patients {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 50%;
  float: left;
}
.patients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.5em;
  border-radius: 4px;
}
.patients li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.patients li.selected {
  background-color: #CFD8DC;
  color: white;
}
.patients li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.patients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.5em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
