<h1 align="center">Children Speech Therapy</h1>
<nav class= "nav justify-content-center bg-light">
  <li class="nav-item active">
    <a class="nav-link" href="#" [routerLink]="['login']" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="['register']" routerLinkActive="active">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Help</a>
  </li>
</nav>
<br>
<p style="text-align:center; font-size:160%;">Welcome to Children Speech Therapy!</p>
<br>
<img src="https://i.ya-webdesign.com/images/therapy-clipart-kid-speech.jpg" alt="micron_pic" class="center" style="width:769px;height:250px;">