<nav class="navbar navbar-light">
  <div class="row">
    <div class="col-2">
      <a class="navbar-brand text-bg" href="#">
        Audio Testing
      </a>
    </div>
    <div class="col">
      <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col offset-md-2">
            <input type="file" name="profile" class="custom-file-input" id="customFile" accept=".wav" (change)="onFileSelect($event)">
            <label class="custom-file-label" for="customFile">{{filename}}</label>

          </div>
          <div class="col offset-md-1">
            <button *ngIf="flag" type="submit" class="btn btn-primary">Upload</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</nav>
<br>
<div class="col">
  <div class="card-header"><h4>Response:</h4></div>
    <div class="card-body">
      <p class="card-text">{{response}}</p>
    </div>
</div>
