<div class='row'>
  <div class= "col-lg-6 offset-lg-3 mt-4">
    <h3>CareGiver Register</h3>
    <div class="form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="character">Character</label>
          <input
            type="text"
            input name="character" ngModel required #character="ngModel" 
            placeholder="Input your character: CareGiver"
            class="form-control"
            id="character">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            input name="username" ngModel required #username="ngModel"
            class="form-control"
            id="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            input name="password" ngModel required #password="ngModel"
            class="form-control"
            id="Password">
        </div>
        <div class="form-group">
          <label for="birthday">Birthday</label>
          <input
          type="text"
          input name="birthday" ngModel required #birthday="ngModel"
          placeholder="MM/DD/YYYY"
          class="form-control"
          id="Birthday">
        </div>
        <div class="form-group">
          <label for="sex">Sex</label>
          <input
            type="text"
            input name="sex" ngModel required #sex="ngModel"
            placeholder="Male or Female"
            class="form-control"
            id="Sex">
        </div>
        <div class="form-group">
          <label for="Race">Race</label>
          <input
            type="text"
            input name="Race" ngModel required #Race="ngModel"
            class="form-control"
            id="Race">
        </div>
        <div class="form-group">
          <label for="Race">Nationality</label>
          <input
            type="text"
            input name="Nationality" ngModel required #Nationality="ngModel"
            class="form-control"
            id="Nationality">
        </div>
        <div class="form-group">
          <label for="SpeechAbility">Speech Ability</label>
          <input
            type="text"
            input name="SpeechAbility" ngModel required #SpeechAbility="ngModel"
            class="form-control"
            id="SpeechAbility">
        </div>
        <div class="form-group">
          <label for="Diagnosis">Diagnosis</label>
          <input
            type="text"
            input name="Diagnosis" ngModel required #Diagnosis="ngModel"
            class="form-control"
            id="Diagnosis">
        </div>
        <div class="form-group">
          <label for="FirstName">Therapist First Name</label>
          <input
            type="text"
            input name="FirstName" ngModel required #FirstName="ngModel"
            class="form-control"
            id="FirstName">
        </div>
        <div class="form-group">
          <label for="LastName">Therapist Last Name</label>
          <input
            type="text"
            input name="LastName" ngModel required #LastName="ngModel"
            class="form-control"
            id="LastName">
        </div>
        <button
          type="submit" [disabled]="f.invalid"
          class="btn btn-primary">Create</button>
        <a [routerLink]="['/register']" class="btn btn-link" routerLinkActive="active">Back</a>
      </form>

    </div>
  </div>
